* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.app {
  inset: 0;
  height: 100dvh;
  width: 100vw;
}

.profile {
  position: fixed;
  z-index: 3;
  inset: 0;
  height: 45dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
}
.profile.active {
  transform: translateY(0);
}

.profile_header {
  height: 5dvh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eaebec;
  color: #42424f;
  padding: 0dvh 2vw 0dvh 2.5vw;
  font-size: 50px;
  font-weight: bold;
}
.profile_header .profile_header_icon {
  font-size: 75px;
}

.profile_content {
  height: 40dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaebec;
  color: #42424f;
  padding: 0dvh 2vw 0dvh 2.5vw;
  font-size: 25px;
}

.main_profile {
  position: fixed;
  z-index: 4;
  inset: 0;
  height: 100dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0.5s ease;
}
.main_profile.active {
  transform: translateX(0);
}

.main_profile_header {
  height: 20dvh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #eaebec;
  color: #42424f;
  padding: 0.75dvh 4vw 0dvh 2vw;
  font-size: 50px;
  font-weight: bold;
}
.main_profile_header .main_profile_header_icon {
  font-size: 70px;
}

.main_profile_user {
  position: fixed;
  z-index: 5;
  left: 7.5vw;
  top: 8dvh;
  height: 24dvh;
  width: 85vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafb;
  color: #42424f;
  border-radius: 20px;
  padding: 0dvh 4vw 0dvh 2vw;
  font-size: 25px;
}

.main_profile_content {
  height: 80dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffe;
  color: #42424f;
  padding: 0dvh 4vw 0dvh 2vw;
  font-size: 25px;
}

.search {
  position: fixed;
  z-index: 2;
  inset: 0;
  height: 60dvh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  transform: translateX(-100%);
}
.search.active {
  left: 5vw;
  top: 22dvh;
  transform: translateX(0);
}

.search_header {
  height: 4dvh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eaebec;
  color: #42424f;
  border-bottom: 2px solid #eaebec;
  padding: 0 2vw;
  font-size: 28px;
}
.search_todo, .search_done {
  font-weight: bold;
}
.search_todo {
  color: #4083f2;
}
.search_done {
  opacity: 0.4;
}

.search_content {
  height: 56dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaebec;
  color: #42424f;
  padding: 0 2vw;
  font-size: 25px;
}

.filter {
  position: fixed;
  z-index: 1;
  inset: 0;
  height: 60dvh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  transform: translateX(-100%);
}
.filter.active {
  left: 5vw;
  top: 22dvh;
  transform: translateX(0);
}

.filter_header {
  height: 4dvh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eaebec;
  color: #42424f;
  border-bottom: 2px solid #eaebec;
  padding: 0 2vw;
  font-size: 28px;
}
.filter_todo, .filter_done {
  font-weight: bold;
}
.filter_todo {
  color: #4083f2;
}
.filter_done {
  opacity: 0.4;
}

.filter_content {
  height: 56dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaebec;
  color: #42424f;
  padding: 0 2vw;
  font-size: 25px;
}

.features {
  inset: 0;
  height: 100dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease;
}

.header {
  height: 5dvh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eaebec;
  color: #42424f;
  padding: 0dvh 2vw 0dvh 2.5vw;
  font-size: 50px;
  font-weight: bold;
}
.header .header_icon {
  font-size: 90px;
}

.tabs {
  height: 4dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaebec;
  color: #42424f;
  padding: 0dvh 2vw 0dvh 2.5vw;
  gap: 4vw;
  font-size: 35px;
  font-weight: bold;
}

.tab {
  height: 4dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.tab.active {
  background: linear-gradient(#5282eb, #5282eb) bottom left;
  background-size: 70px 4px;
  background-repeat: no-repeat;
  color: #4083f2;
}

.todo {
  height: 4dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffe;
  border-bottom: 2px solid #eaebec;
  padding: 0dvh 2vw 0dvh 2.5vw;
  overflow-x: hidden;
}

.todo_icons {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #4184f3;
  gap: 5vw;
}
.search_icon, .filter_icon {
  font-size: 38px;
  white-space: nowrap;
}

.todo_tabs {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #a6c0f3;
  padding: 0dvh 2vw 0dvh 0vw;
  gap: 4vw;
  font-size: 28px;
  overflow-x: auto;
}
.todo_tabs::-webkit-scrollbar {
  display: none;
}
.todo_tab {
  white-space: nowrap;
}
.todo_tab.active {
  color: #5282eb;
}

.content {
  height: 79dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffe;
  color: #42424f;
  padding: 0dvh 2vw 0dvh 2.5vw;
  font-size: 25px;
}

.main_tabs {
  height: 8dvh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #eaebec;
  color: #42424f;
}
.main_tabs .main_tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.main_tab.active {
  color: #4083f2;
}
.main_tabs .main_tabs_icon {
  font-size: 70px;
}





/*
position: fixed;
bottom: 0;
width: 100%;
background: #42424f;
color: #eaebec;
border-radius: 30px 30px 0 0;
font-weight: bold;
border-bottom: 4px solid #5282eb;
padding: 0dvh 2vw 0dvh 2.5vw;
gap: 5px;
*/